.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.botoes{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.botoes button{
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.botoes button:focus,
button:active {
  animation: pulse 0.3s ease-out 1;
}

.ruim {
   background: red;
}


.bom {
  background: rgb(216, 231, 9);
}


.otimo {
  background: rgb(57, 185, 18);
}



@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow:none;
  }
}


